/home/ettore/it.unibz.inf.sesp.Task/testDesktop/build-Desktop-Desktop_Qt_5_2_1_GCC_64bit-Debug
/.project

*.e6b4874

testDesktop/Desktop/Desktop.pro.user

*.user

testDesktop/Desktop/Desktop.pro.user

testDesktop/Desktop/Desktop.pro.user
